# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- main

pool:
  name: MyOwn

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: dotnet --info
  displayName: 'dotnet --info'

- script: dotnet restore
  displayName: 'Restore'

- script: dotnet build -c $(buildConfiguration) --no-restore
  displayName: 'Build'


